.title {
  border:black solid 2px;
  margin-bottom: 10px;
  background-color: lightgreen;
}
body {
  background-color: lightpink;
}
h1 {
  text-align: center;
  font-style: oblique;
  color:orange;
}
.content {
  background-color: inherit;
}
#weather {
  background-color: lightgreen;
  height:300px;
  padding:10px;
  text-align: justify;
  border:black solid 2px;
}
.rohDole {
  background-color: inherit;
  border: brown solid 2px;
  text-align: center;
  font-size: 15px;
}
.container {
  max-width:100%;
}
.carousel-indicators {
  bottom:0;
}
.carousel-indicators .active {
  background-color: black;
}
.carousel-indicators li {
  border: pink solid 2px;
}
.carousel-inner {
     width: 500px;
     margin: auto;
     height:300px;
 }
.velkost {
  width: 100%;
}
.nadpis{
  color:red;
}
.welcome {
  width:100%;
}
